<div>
  <div class="search-filter">
    <div class="search-filter">
      <div class="search-container">
        <input type="text" class="search-input" [(ngModel)]="searchQuery" placeholder="Search by Name or Email" />
        <button *ngIf="searchQuery" class="clear-button" (click)="clear()">×</button>
      </div>
      <button class="button button-primary margin-right-8" (click)="search()">Search</button>
      <button class="button button-primary" (click)="filter()">Filter</button>
    </div>
    <div>
      <button class="button button-primary" (click)="navigateToAddEmployee()">Add Employee</button>
    </div>

  </div>

  <table class="employee-table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Company</th>
        <th>Email</th>
        <th>Contact</th>
        <th>Designation</th>
        <th>Avatar</th>
        <th>Actions</th>
      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let employee of employees">
        <td>{{ employee.name }}</td>
        <td>{{ employee.companyName }}</td>
        <td>{{ employee.email }}</td>
        <td>{{ employee.contact }}</td>
        <td>{{ employee.designation }}</td>
        <td><img [src]="employee.avatar" alt="Avatar" class="avatar-img"></td>
        <td>
          <button class="button button-primary button-sm margin-right-8"
            (click)="deleteEmployee(employee.id)">Delete</button>
          <button class="button button-primary button-sm margin-right-8"
            [routerLink]="['/employee', employee.id, 'edit']">Edit</button>
          <button class="button button-primary button-sm"
            [routerLink]="['/employee', employee.id, 'view']">View</button>
        </td>
      </tr>
    </tbody>
  </table>
  <div *ngIf="employees.length==0" class="empty-list-banner">
    <b>Please add a new employee to get started or adjust your filter criteria.</b>
  </div>
</div>