<div class="employee-form-container">
    <form [formGroup]="employeeForm" (ngSubmit)="onSubmit()" class="employee-form">
      <!-- Name Input -->
      <div class="form-group">
        <label for="name">Name</label>
        <input id="name" formControlName="name" type="text">
        <div class="error-message" *ngIf="employeeForm.get('name')?.invalid && employeeForm.get('name')?.touched">
          Name is required.
        </div>
      </div>
  
      <!-- Company Name Input -->
      <div class="form-group">
        <label for="companyName">Company Name</label>
        <input id="companyName" formControlName="companyName" type="text">
      </div>
  
      <!-- Email Input -->
      <div class="form-group">
        <label for="email">Email</label>
        <input id="email" formControlName="email" type="email">
        <div class="error-message" *ngIf="employeeForm.get('email')?.invalid  && employeeForm.get('email')?.touched">
          Valid email is required.
        </div>
      </div>
  
      <!-- Contact Number Input -->
      <div class="form-group">
        <label for="contact">Contact No.</label>
        <input id="contact" formControlName="contact" type="text">
      </div>
  
      <!-- Designation Select -->
      <div class="form-group">
        <label for="designation">Designation</label>
        <select id="designation" formControlName="designation">
          <option value="Software Developer">Software Developer</option>
          <option value="Senior Software Developer">Senior Software Developer</option>
          <option value="Quality Assurance">Quality Assurance</option>
          <option value="Technical Lead">Technical Lead</option>
          <option value="Manager">Manager</option>
        </select>
      </div>
  
      <!-- Avatar Selection -->
      <div class="form-group">
        <label>Avatar</label>
        <div class="avatar-selection">
          <div class="avatar-option" *ngFor="let avatar of avatars">
            <input type="radio" formControlName="avatar" [value]="avatar.url" id="{{avatar.id}}">
            <label [for]="avatar.id"><img [src]="avatar.url" alt="Avatar"></label>
          </div>
        </div>
      </div>
  
      <!-- Form Actions: Save and Cancel Buttons -->
      <div class="form-actions">
        <button type="submit" class="button button-primary">Save</button>
        <button type="button" class="button button-secondary" (click)="onCancel()">Cancel</button>
      </div>
    </form>
  </div>
  